@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Montserrat&display=swap');

#responsiveBox p {
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    height: max-content;
}

.content {
    height: 500px;
}
.line-1 {
    height: 0.5px;
  }