@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

.header-title {
    display: block;
    padding: 20px;
    font-size: 60px;
    font-weight: 400;
    min-height: 50px;
    font-family: 'Montserrat Alternates', sans-serif;
}