<div style="min-height: 80px;height: 12vh;margin: 10px;;">
    <dx-toolbar>
        <dxi-item location="center" widget="dxButton" locateInMenu="never">
            <div *dxTemplate>
                <div class="header-title">Grace Generation Church</div>
            </div>
        </dxi-item>
    </dx-toolbar>
    <dx-menu #menu [dataSource]="menuItems" displayExpr="name" class="header-nav"
        [showFirstSubmenuMode]="{name:'onClick',delay:{show: 0,hide: 500 }}" orientation="horizontal"
        [hideSubmenuOnMouseLeave]="false" (onItemClick)="itemClick($event)">
    </dx-menu>
</div>